@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer
@{
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");
}
@model IEnumerable<SliderItemViewModel>
@foreach (var item in Model)
{
  
    <div class="item-slick1" style="background-image: url(@item.ImageUrl);">
        <div class="container h-full">
            <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                <div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
                    <span class="ltext-101 cl2 respon2">
                        @item?.Description
                    </span>
                </div>

                <div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
                    <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                        @item?.Title
                    </h2>
                </div>
             @*    @if (!string.IsNullOrEmpty(item.LinkUrl))
                {

                    
                } *@
                <div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">

                    @if (!string.IsNullOrEmpty(item.LinkUrl))
                    {
                        <a href="@item.LinkUrl" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                            @localizer["ShopNow"]
                        </a>
                    }
                </div>

               @*  <a href="@item.LinkUrl" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                    Shop Now
                </a> *@
            </div>
        </div>
    </div>
}
