/*body {
    font-family: 'Inter', sans-serif;
    background-color: #f2f4f8;
    margin: 0;
    padding: 30px;
}*/

.table-wrapper {
    /*max-width: 1100px;
    margin: auto;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    overflow: hidden;*/
    background-color: #343a40;
    color: white;
    padding: 12px 16px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 18px;
}
.card {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
thead th:first-child {
    border-top-left-radius: 12px;
}

thead th:last-child {
    border-top-right-radius: 12px;
}
table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #343a40; /* أزرق غامق */
    color: #ffffff;
}

th, td {
    padding: 16px 20px;
    text-align: left;
}

tbody tr {
    border-bottom: 1px solid #eee;
    transition: background 0.3s ease;
}

    tbody tr:hover {
        background-color: #f0f8ff;
    }

.action-icons {
    display: flex;
    gap: 10px;
}

    .action-icons i {
        cursor: pointer;
        transition: transform 0.2s;
        font-size: 16px;
    }

        .action-icons i:hover {
            transform: scale(1.2);
        }

.fa-trash {
    color: #e74c3c;
}

.fa-pen {
    color: #f39c12;
}

.fa-eye {
    color: #3498db;
}
