.custom-form {
    width: 100%;
    margin: 40px 0 0 20px;
    padding: 100px;
    background: rgba(255, 255, 255, 0.0);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
}

    .custom-form label {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 4px;
        display: block;
        color: #333;
    }

    .custom-form input[type="text"],
    .custom-form select,
    .custom-form input[type="number"],
    .custom-form input[type="file"] {
        width: 100%;
        padding: 10px 12px;
        margin-bottom: 16px;
        border: 1px solid #003366; /* لون الإطار البنفسجي */
        border-radius: 6px;
        font-size: 16px;
        color: #003366;
        transition: box-shadow 0.3s ease, border-color 0.3s ease;
    }

        .custom-form input[type="text"]:focus,
        .custom-form select:focus,
        .custom-form input[type="number"]:focus,
        .custom-form input[type="file"]:focus {
            outline: none;
            border-color: #003366;
            box-shadow: 0 0 5px 2px #003366; /* وميض بنفسجي */
        }

    .custom-form button {
        width: 100%;
        padding: 8px;
        border: none;
        background-color: #007bff;
        color: white;
        font-size: 14px;
        border-radius: 6px;
        cursor: pointer;
    }

        .custom-form button:hover {
            background-color: #0056b3;
        }

.custom-button {
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    background-color: #003366; /* الأزرق الغامق */
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

    .custom-button:hover {
        background-color: #001f4d;
    }
