@model SubCategoryViewModel
@{
    ViewData["Title"] = "EditSubCategrey";
}


<h2 class="mt-4">Edit SubCategrey</h2>
<!-- Content -->
<div>
    <a asp-action="CreatCategrey" asp-controller="CozaMaster" class="custom-button">Create a New Category    <i class="fas fa-plus"></i></a>

</div>
<div class="container-xxl flex-grow-1 container-p-y">

    <div class="row">
        @*  <div class="col-md-6">
           
            
        </div> *@
        <div class="card mb-4">
            <div class="card-body">

                <form class="custom-form" asp-action="EditSubCategrey" asp-controller="SubCategrey" method="post" enctype="multipart/form-data">
                    <label for="Name" class="form-label"> SubCategrey Name</label>
                    <input type="text" class="form-control" id="Name_EN" name="Name_EN" placeholder="Type the Name here">

                    <label for="Name" class="form-label"> SubCategrey Name in Arabic</label>
                    <input type="text" class="form-control" id="Name_Ar" name="Name_Ar" placeholder="Type the Name here">

                    <label for="image" class="form-label">Choose an image</label>
                    <input type="file" class="form-control" id="PictureName" name="PictureName" accept="image/*">

                    <div class="form-group">
                        <label asp-for="CategoryId" class="form-label">Choose the main Category</label>
                        <select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(Model.Categories, "id", "Name_EN"))">
                            <option value="">-- Choose a Category --</option>
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>

                    <br />
                    <button class="btn btn-success d-grid w-100" type="submit">Edit</button>
                </form>
            </div>
        </div>
    </div>
</div>
