@model IReadOnlyList<GetAllSubCategoryViewModel>
@{
    ViewData["Title"] = "GetAllSubCategrey";
}





<h2 class="mt-4"> SubCategrey</h2>
<br />
<a asp-action="CreatSubCategrey" asp-controller="SubCategrey" class="custom-button">+ Create a New SubCategory</a>





<div class="card">
    <h5 class="card-header"> Categrey Table</h5>
    <div class="table-responsive text-nowrap">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Picture/الصورة</th>
                    <th>Name  En</th>
                    <th>الاسم بلغة العربية</th>
                    <th>Category</th>
                    <th>Actions</th>


                </tr>
            </thead>
            <tbody class="table-border-bottom-0">


                @foreach (var user in Model)
                {
                    <tr>
                        <td><img src="@user.Picture" alt="OurStrategy Image" style=" width: 60px; height: 50px;"></td>
                        <td>@user?.Name_EN</td>
                        <td>@user?.Name_Ar</td>
                        <td>@user?.CategoryName</td>


                        <td @* class="action-icons" *@>
                            <div class="d-flex gap-2">

                                <a asp-action="EditSubCategrey"
                                   asp-controller="SubCategrey"
                                   asp-route-id="@user.Id"
                                   class="badge btn-warning d-flex justify-content-center align-items-center btn btn-icon  btn-sm"
                                   title="Edit">
                                    <i class="bx bx-edit"></i>
                                </a>

                               
                                <a asp-action="DeleteSubCategreyfn"
                                   asp-controller="SubCategrey"
                                   asp-route-id="@user?.Id"
                                   class="badge  d-flex btn-danger d-flex justify-content-center align-items-center btn btn-icon  btn-sm"
                                   title="Delete">
                                    <i class="tf-icons bx bx-trash"></i>
                                </a>
                            </div>
                           @*  <a asp-action="EditSubCategrey" asp-controller="SubCategrey" asp-route-id="@user.Id" class="badge rounded-pill btn-warning">Edit</a>

                            <a asp-action="DeleteSubCategreyfn" asp-controller="SubCategrey" asp-route-id="@user?.Id" class="badge rounded-pill btn-danger">Delete</a> *@

                        </td>
                    </tr>
                }



            </tbody>

        </table>
    </div>
</div>