
@{
    ViewData["Title"] = "TermsAndConditions";
    Layout = "_LayoutTheOtherPage";
}

<div class="bg0 p-t-20 p-b-116">
    <h2>Terms & Conditions</h2>
    <br />
    <div>
        @Html.Raw(Model.Content)
    </div>
</div>




