@model ResetPasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>ResetPasswordPage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-lg p-4 rounded-3">

                    <h2 class="text-center mb-4">Reset Password</h2>

                    <form asp-action="ResetPassword" asp-controller="Account" method="post">
                        
                        <div class="form-group m-b-20">
                            <label  class="form-label">New Password</label>
                            <input asp-for="NewPassword" type="password" class="form-control" />
                           @*  <span asp-validation-for="NewPassword" class="text-danger"></span> *@
                        </div>

                        <div class="form-group m-b-20">
                            <label  class="form-label">Confirm Password</label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control" />
                        </div>
                        @* <span asp-validation-for="ConfirmPassword" class="text-danger"></span> *@
                      @*   <input type="hidden" asp-for="Email"  value="@Model?.Email" />
                        <input type="hidden" asp-for="Token"  value="@Model?.Token" /> *@
                        </br>
                        <button type="submit" class="btn btn-primary w-100">Reset</button>
                    </form>


                </div>
            </div>
        </div>
    </div>
 

</body>

</html>
